 @import url('bootstrap.css');
@import url('bootstrap-theme.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background-image:url(../images/body_bg.png); background-repeat:repeat;
}
*, h1, h2, h3, h4, h5, h6, h1, .h1, h2, .h2, h3, .h3, p, ul, li {
	margin: 0;
	padding: 0;
}
body.inner {
	font-family:Arial, Helvetica, sans-serif;
}
a:hover {
}
a:hover, a:active, a:focus {
	text-decoration:none;
	border:0;
}


::-webkit-input-placeholder {
 color: #838383;
 opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
 color: #838383;
 opacity:1;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #838383;
 opacity:1;
}

:-ms-input-placeholder {
 color: #838383;
 opacity:1;
}
img{display:inline-block !important;}
/*---------------------------------------------------header---------------------------------------------------*/
header {
	width:100%;
}
.desk_header{display:block;}
.resposive_menu{display:none;}
header .upper_header{width:100%;}

header .upper_header p a{ font-size:11px; color:#419422; margin: 0 10px;}
header .upper_header p a span{ font-size:22px; font-weight:bold; color:#419422;}
header .logo{}


header .search_con{ margin-top:20px;}

header .search_con .search_text{width:240px; height:30px; background-color:#f9eed8; border:1px solid #b2c293; border-radius:30px;}
header .search_con .search_btn{ position:relative; top:10px; margin-left:-34px;}
header .you_ask{margin-top:30px;}
header .you_ask h3{font-size:16px; background-image:url(../images/icon1.png); background-repeat:no-repeat; padding-left:50px; font-weight:bold; color:#419422; text-transform:uppercase}
header .you_ask h3 a{font-size:16px; color:#419422;}
header .log_on{margin-top:30px;}
header .log_on h3{font-size:16px; background-image:url(../images/icon2.png); background-repeat:no-repeat; padding-left:50px; font-weight:bold; color:#419422; text-transform:uppercase}
header .log_on h3 a{font-size:16px; color:#419422;}

header .green_line{background-color:#419422; padding:5px 0; display:inline-block; width:100%; margin-top:5px;}
header .green_line .white_con{ background-color:#FFF; text-align:center; width:80%; padding:12px 0;}
header .green_line .white_con p{font-size:14px; }
header .green_line h3{font-size:23px; margin-top:10px; text-transform:uppercase; color:#f9eedc;}

header .white_line{background-color:#fff; padding:15px 0; display:inline-block; width:100%; margin-top:5px;}
header .white_line p{color:#000; font-size:14px; padding:0 20px;}
header .white_line p a{color:#000;}
/*---------------------------------------------------header---------------------------------------------------*/

/*---------------------------------------------------content_main_con---------------------------------------------------*/
#content_main_con{width:100%; padding-bottom:100px;}
#content_main_con .content_con{width:100%; border:3px solid #ff0000;}
#content_main_con .content_con h5{margin:10px;}
#content_main_con .content_con h1{font-size:60px; margin:10px;  font-weight:bold; color:#00481a}
#content_main_con .content_con h4{font-size:16px; margin:10px; font-weight:bold; color:#00481a; padding:30px 0;}
#content_main_con .content_con .social_media_con{width:100%; margin:10px;}
#content_main_con .content_con .social_media_con img{margin-right:5px; }

#content_main_con .content_con .upper_widget_con{width:100%; margin:50px 0; display:inline-block;}
#content_main_con .content_con .upper_widget_con .widget_con{text-align:center; min-height:450px;}
#content_main_con .content_con .upper_widget_con .widget_con h2{font-size:20px; padding-bottom:20px; color:#00481a; background-image:url(../images/widget_line.png); background-position:58px 30px; background-size:auto; margin:10px 0; background-repeat:no-repeat;}
#content_main_con .content_con .upper_widget_con .widget_con p{font-size:16px color:#000;}

#content_main_con .content_con .sports_con h2{font-size:16px; margin-bottom:40px; padding:0 20px}
#content_main_con .content_con .sports_con h2 span{color:#4e944c}
#content_main_con .content_con .sports_con h6{font-size:12px; line-height:24px; padding:0 20px}
#content_main_con .content_con .sports_con h6 span{color:#5e9144}

#content_main_con .like_container{width:100%; margin:60px 0; display:inline-block;}

#content_main_con .like_container .img2{position:relative;}

#content_main_con .like_container .img2 .text_con{ position:absolute; width:88%; margin:0 auto; top:0;}
#content_main_con .like_container .img2 .text_con p{margin:30px 0; line-height:45px; color:#fff; font-size:20px; text-align:center}
#content_main_con .like_container .img2 .text_con h5{margin:90px 0; line-height:45px; color:#fff; font-size:20px; text-align:center}
#content_main_con .like_container .img2 .text_con h3{margin:40px 0; line-height:45px; color:#fff; font-size:20px; text-align:center}
#content_main_con .like_container .img2 .text_con .brown_con{width:85%; margin:0 auto; color:#fff; background-color:#ae5e07; padding:15px 0;}
#content_main_con .like_container .img2 .text_con .brown_con .watch_icon{padding:0 5px 0 20px; background-image:url(../images/watch_icon.png); background-repeat:no-repeat; margin-left:10px; background-position: 0px 1px;}
#content_main_con .like_container .img2 .text_con .brown_con .minute_icon{padding:0 5px 0 20px; background-image:url(../images/minute_icon.png); background-repeat:no-repeat; margin-left:10px; background-position: -2px 1px;}
#content_main_con .like_container h2{font-size:22px; color:#4e944c; padding:5px 20px}
/*---------------------------------------------------content_main_con---------------------------------------------------*/


/*---------------------------------------------------Responsive Nav---------------------------------------------------*/
.resposive_nav {
	display:none;
}
.resposive_nav .resposive_menu {
	background:none;
	border-radius:0;
	border:0;
	box-shadow:none;
	-webkit-box-shadow:none;
	margin: 15px 0;
}
.resposive_nav .resposive_menu .toogle_color {
	background-color:#0174cf
}
.resposive_nav .resposive_menu .line_color {
	background-color:#fff;
}
.resposive_nav .resposive_menu li {
	background-color:#4d9ddd;
}
.resposive_nav .resposive_menu li a {
	color:#fff;
}
.curve_con{display:none;}
.res_like_con{display:none;}
.res_header{display:none;}
/*---------------------------------------------------Responsive Nav---------------------------------------------------*/


footer{width:100%;}
footer .footer_widget_con{ margin-bottom:30px;}
footer .footer_widget_con h3{ font-size:20px; font-weight:bold; color:#4e944c; text-transform:uppercase}
footer .footer_widget_con ul{ padding:0; margin:10px 0;}
footer .footer_widget_con ul li{ list-style:none; margin:5px 0; }
footer .footer_widget_con ul li a{font-size:18px; color:#000;}


@media(max-width:1199px){
	#content_main_con .like_container .img2{margin:20px 0;}
	#content_main_con .like_container .img2 .text_con{width:67%;}
}

@media(max-width:990px){
header .search_con{min-height: 65px;}	
header .green_line .white_con{margin:5px 0; width:100%;}
header .green_line h3{text-align:center;}
#content_main_con .content_con h1{font-size:40px;}
#content_main_con .like_container .img2 .text_con{width:88%;}
#content_main_con .content_con .upper_widget_con .widget_con h2{background-position:90px 30px;}
}

@media(max-width:767px){
	.home{overflow-x:hidden;}
header .search_con .search_text{width:95%;}	
header .logo{ text-align:center;}
#content_main_con .content_con .upper_widget_con .widget_con h2{background:none;}
#content_main_con .content_con .upper_widget_con .widget_con{min-height:inherit; padding:15px;}
#content_main_con .like_container .img2{text-align:center; max-width:368px; float:none; margin:20px auto}
#content_main_con .like_container h2{text-align:center;}
#content_main_con .like_container .img2 .text_con{width:92%;}

.desk_header{display:none;}
.res_header{display:block; background-color:#538844; height:60px;  width:100%; }
.resposive_menu{display:block; background:none; position:absolute; z-index:9999; border:none; box-shadow:none; margin-bottom:0; margin-top:0;}
.resposive_menu .border_btn{border:none; float:none}
.resposive_menu .border_btn .line_border{width:40px; background-color:#f8f2d8; height:5px;}
.nav_space{margin:0 -15px;}
.nav_bg_color{background-color:#fff; width:300px;}

.search_id_btn{}
.search_id_btn img{margin:5px;}
.curve_con{width:100%; text-align:center; display:block;}
.less_space{padding:0;}
#content_main_con .content_con h1{font-size:35px;}
#content_main_con .like_container{display:none;}

.res_like_con{width:100%; display:inline-block; margin:20px 0;}
.res_like_con h2{font-size: 22px;
    color: #4e944c;
    padding: 0 20px;}
.res_like_con .like_con{background-color:#fff; margin:10px 0; max-width: 147px;}
.res_like_con .like_con p{font-size: 13px;
    padding: 5px; text-align:center}
	footer{width:100%; display:none}
	.green_color{ width:100%; height:525px; background-color:#007000}
	#content_main_con{padding:0;}
}

@media(max-width:480px){
	#content_main_con .like_container .img2 .text_con p{margin:10px 0;}
	header .upper_header p a{ font-size:11px; color:#419422; margin: 0 0px;}
	#content_main_con .content_con .upper_widget_con .widget_con h2{background-image:url(../images/widget_line.png); background-position:110px 30px; background-repeat:no-repeat;}
}